:root {
  --font: 'Poppins';

  --font-mobile-small: 12px;
  --font-mobile-medium: 14px;
  --font-mobile-large: 16px;

  --font-tablet-small: 15px;
  --font-tablet-medium: 17px;
  --font-tablet-large: 19px;

  --font-small: 16px;
  --font-medium: 18px;
  --font-large: 20px;

  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
}
