:root {
  --font: 'Poppins';
  @media screen and (min-width: 961px) {
    --header-padding: 16px 192px;

    --font-small: 16px;
    --font-medium: 18px;
    --font-large: 20px;
  }

  @media screen and (max-width: 960px) {
    --header-padding: 16px 96px;

    --font-small: 15px;
    --font-medium: 17px;
    --font-large: 19px;
  }

  // @media screen and (min-width: 721px) {

  // }

  // @media screen and (max-width: 720px) {

  // }

  @media screen and (max-width: 480px) {
    --header-padding: 16px 32px;

    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 16px;
  }

  --header-height: 96px;
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  --z-dropdown: 3;
  --z-expenses-filter: 2;
  --z-modal: 10;
}
