<script setup lang="ts">
import { ref, computed, watch } from 'vue'
import { AppInput, AppButton, AppText } from '@/shared/ui'
import { useAuthStore } from '../model'

const store = useAuthStore()
const props = withDefaults(defineProps<{ fromTrial?: boolean }>(), { fromTrial: false })

const emailRe =
  /^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([^<>()[\].,;:\s@"]+\.)+[^<>()[\].,;:\s@"]{2,})$/i
const email = ref<string>('')
const password = ref<string>('')
const isButtonDisabled = computed<boolean>(() => !emailRe.test(email.value) || !(password.value.length >= 8))
const isRegister = ref<boolean>(props.fromTrial)

watch(isRegister, () => (store.error = ''))

const handleAuth = () => {
  store.auth(email.value, password.value, isRegister.value ? 'signup' : 'signin')
}

const handleAuthAnonymous = () => {
  store.auth('', '', 'test')
}
</script>

<template>
  <div :class="$style.authCard">
    <app-text v-if="store.error" is-error :paragraphs="[store.error]" />
    <app-input label="Email" :value="email" @input="(value: string) => (email = value)" autofocus />
    <app-input
      label="Пароль"
      type="password"
      :value="password"
      @input="(value: string) => (password = value)"
      @keypress.enter="handleAuth"
    />
    <app-button
      :loading="store.isLoading"
      :disabled="isButtonDisabled"
      theme="outlined"
      click-enter
      :method="handleAuth"
      >{{ isRegister ? 'Зарегистрироваться' : 'Войти' }}</app-button
    >
    <div :class="$style.buttons">
      <app-button v-if="!fromTrial" :method="() => (isRegister = !isRegister)">
        <span v-if="isRegister">Есть аккаунт? <span :class="$style.accentText">Войти</span></span>
        <span v-else>Нет аккаунта? <span :class="$style.accentText">Зарегистрироваться</span></span>
      </app-button>
      <app-button v-if="!fromTrial" :method="handleAuthAnonymous"
        ><span :class="$style.accentText">Попробовать</span> без регистрации</app-button
      >
    </div>
  </div>
</template>

<style module lang="scss">
.authCard {
  width: 324px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.accentText {
  color: var(--accent-color-green);
}

.buttons {
  display: flex;
  flex-direction: column;
}

.error {
}
</style>
