<script setup lang="ts">
import { FinanceCard } from '@/entities/finance-card'
import { AppSpinner } from '@/shared/ui'
import type { IExpense, IIncome, IGroupedFinances } from '../model/types';

defineProps<{finances: IGroupedFinances<IExpense> | IGroupedFinances<IIncome>, isLoading: boolean}>()
</script>

<template>
  <div>
    <app-spinner v-if="isLoading" :class="$style.spinner" full-page/>
    <div v-for="(value, key) in finances" :key="key">
      <h6 :class="$style.date">
        {{ new Date(key).toLocaleString([], { weekday: 'long', year: 'numeric', month: 'long', day: '2-digit' }) }}
      </h6>
      <div :class="$style.card" v-for="finance of value" :key="finance.id">
        <finance-card :finance="finance" />
      </div>
    </div>
  </div>
</template>

<style module>

.spinner {
  width: 100px;
  height: 100px;
}

.card {
  position: relative;
  margin-top: 1rem;
}

.date {
  padding-top: 1rem;
  text-transform: capitalize;
}
</style>
