<script setup lang="ts">
import { ref, watch, computed } from 'vue'
import { useNow, useDateFormat, useWindowSize } from '@vueuse/core'
import { CategorySelector, useCategoriesStore, type ICategory } from '@/features/categories'
import { createFinance } from '../model'
import CrossIcon from '@/shared/assets/icons/cross.svg?component'
import { AppButton, AppModal, AppInput } from '@/shared/ui'

const props = defineProps<{ isIncome?: boolean }>()

const { width } = useWindowSize()

const open = ref(false)
const handleClose = () => (open.value = false)

const categoriesStore = useCategoriesStore()

const chosenCategory = ref<ICategory>(categoriesStore.categories[0])
const title = ref<string>('')
const amount = ref<string>('')
const dateFormatter = ref('YYYY-MM-DD HH:mm')
const date = useDateFormat(useNow(), dateFormatter)

const createButtonDisabled = computed(() => {
  return !title.value || !amount.value || !chosenCategory.value
})

function resetStore() {
  chosenCategory.value = categoriesStore.categories[0]
  title.value = ''
  amount.value = ''
  dateFormatter.value = 'YYYY-MM-DD HH:mm'
}

function handleCreate() {
  const financeObj = {
    title: title.value,
    amount: Number(amount.value).toFixed(2),
    date: new Date(date.value)
  }

  if (props.isIncome) financeObj['date'] = new Date(date.value)

  createFinance(financeObj, props.isIncome)
  resetStore()
}

watch(open, resetStore)
</script>

<template>
  <div>
    <app-modal :is-open="open" :on-close="handleClose" :title="`Добавление ${isIncome ? 'дохода' : 'расхода'}`" max-width="320px">
      <div :class="$style.container">
        <div v-if="!isIncome">
          <span>Категория {{ chosenCategory?.title }}</span>
          <category-selector :chosen="chosenCategory" @set-chosen="(icon) => (chosenCategory = icon)" />
        </div>
        <app-input
          label="Название"
          theme="outlined"
          placeholder="Введите название"
          :value="title"
          @input="(value: string) => (title = value)"
        />
        <app-input
          label="Сумма"
          theme="outlined"
          placeholder="Введите сумму"
          type="number"
          :value="amount"
          @input="(value: string) => (amount = value)"
          @focus="$event.target.select()"
        />
        <app-input
          :class="$style.width100"
          label="Дата и время"
          theme="outlined"
          type="datetime-local"
          :value="date"
          @change="(value: string) => (dateFormatter = value)"
        />
        <div :class="$style.buttons">
          <app-button :class="$style.width100" theme="outlined" @click="handleClose">Отменить</app-button>
          <app-button :class="$style.width100" theme="outlined" :disabled="createButtonDisabled" @click="handleCreate"
            >Создать</app-button
          >
        </div>
      </div>
    </app-modal>
    <div @click="open = true">
      <app-button v-if="width > 480" theme="outlined">Добавить</app-button>
      <cross-icon v-else :class="$style.icon" />
    </div>
  </div>
</template>

<style module lang="scss">
.icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .width100 {
    width: 100%;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }
}
</style>
