<script setup lang="ts">
import { AppAuthentication } from '@/features/auth'
import { AppTitle } from '@/shared/ui'
import { onMounted } from 'vue'

onMounted(() => {
  document.body.classList.value = 'dark'
})
</script>

<template>
  <div :class="$style.container">
    <picture :class="$style.picture">
      <img :class="$style.image" src="/welcome-page.png" />
      <div :class="$style.pictureText">
        <span><span :class="$style.accentText">Легко</span> считать,</span>
        <span><span :class="$style.accentText">Разумно</span> тратить...</span>
      </div>
    </picture>
    <div :class="$style.authCard">
      <app-title size="large" />
      <app-authentication trial />
    </div>
  </div>
</template>

<style module lang="scss">
.container {
  height: 100vh;
  display: flex;
  color: var(--light-color);
  background-color: var(--dark-color);
}

.picture {
  position: relative;
  flex: 1 1 0px;

  .image {
    margin: 0 auto;
    height: 100%;
    background-color: var(--light-color);
    object-fit: cover;
  }

  .pictureText {
    position: absolute;
    left: 25%;
    top: 25%;
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    font-weight: var(--font-semibold);
    font-size: 32px;
  }
}

.authCard {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 96px 128px;
  }
}

@media screen and (max-width: 960px) {
  .picture {
    display: none;
  }
}
</style>
