.dark {
  --accent-color-green: #51d289;
  --accent-color-yellow: #ffe600;
  --light-color: #fffde7;
  --main-reverse-color: #fbfbfb;
  --main-color: #1e1e1e;
  --secondary-color: #424242;
  --dark-color: #1e1e1e;
  --error-text-color: #ffffff;
  --error-color: #ff3333;
}
