<script setup lang="ts">
import { ref, watch, onMounted } from 'vue'
import { FinanceCreate } from '@/features/finance-create'
import { ExpenseFilter } from '@/features/expense-filter'
import { useCategoriesStore, type ICategory } from '@/features/categories'
import { useFinancesStore } from '@/widgets/finances'
import { AppFinances as AppFinancesExpenses, AppFinances as AppFinancesIncomes } from '@/widgets/finances'
import { AppSummary } from '@/widgets/summary'
import { AppHeader } from '@/widgets/header'
import { DateRangePicker } from '@/widgets/date-range-picker'
import { AppButton } from '@/shared/ui'
import type { Router } from 'vue-router'

const categoriesStore = useCategoriesStore()
const financesStore = useFinancesStore()

const isIncomesShow = ref<boolean>(new URLSearchParams(window.location.search).get('tab') === 'incomes' ? true : false)

const page = ref<number>(1) // TODO:
const limit = ref<number>(20) // TODO:

const categories = ref<number[]>([])

const fromDate = ref<Date | null>(null)
const toDate = ref<Date | null>(null)

function changeTab(router: Router) {
  router.push({ query: { tab: isIncomesShow.value ? 'summary' : 'incomes' } })
  isIncomesShow.value = !isIncomesShow.value
}

onMounted(() => {
  if (!categoriesStore.categories.length) categoriesStore.fetchCategories()

  if (!financesStore.expenses.length)
    financesStore.fetchFinances({ page: page.value, limit: limit.value, categories: categories.value })

  if (!financesStore.incomes.length)
    financesStore.fetchFinances({ isIncomes: true, page: page.value, limit: limit.value })
})

function handleChooseCategory(category: ICategory): void {
  if (categories.value.includes(category.id)) {
    categories.value.splice(categories.value.indexOf(category.id), 1)
  } else {
    categories.value.push(category.id)
  }
}

watch([fromDate, toDate, categories.value], () => {
  financesStore.fetchFinances({
    page: page.value,
    limit: limit.value,
    categories: categories.value,
    fromDate: fromDate.value,
    toDate: toDate.value
  })
})
</script>

<template>
  <app-header path-name="Расходы" />
  <div :class="$style.container">
    <div :class="$style.content">
      <div :class="$style.column">
        <div :class="$style.spaceBetween">
          <expense-filter
            :categories="categoriesStore.categories"
            :chosen-categories="categories"
            @choose="(category: ICategory) => handleChooseCategory(category)"
          />
          <finance-create />
        </div>
        <date-range-picker
          :class="$style.picker"
          :from-date="fromDate"
          :to-date="toDate"
          @set-date="(dates) => ({ fromDate, toDate } = dates)"
        />
        <app-finances-expenses :finances="financesStore.expenses" :is-loading="financesStore.isLoading" />
      </div>
      <div :class="$style.column">
        <div :class="$style.tabs">
          <app-button
            theme="bordered"
            :class="{ [$style.tab]: true, [$style['tab-active']]: !isIncomesShow }"
            :method="() => changeTab($router)"
            >Сводка</app-button
          >
          <app-button
            theme="bordered"
            :class="{ [$style.tab]: true, [$style['tab-active']]: isIncomesShow }"
            :method="() => changeTab($router)"
            >Доходы</app-button
          >
        </div>
        <div v-show="isIncomesShow">
          <finance-create is-income />
          <app-finances-incomes :finances="financesStore.incomes" :is-loading="financesStore.isLoading" />
        </div>
        <div v-show="!isIncomesShow">
          <app-summary />
        </div>
      </div>
    </div>
  </div>
</template>

<style module lang="scss">
.container {
  position: relative;
  max-height: calc(100vh - var(--header-height));
  // overflow: hidden;
  padding: 2rem 0.75rem;
}

.content {
  @media screen and (min-width: 480px) {
    display: flex;
    gap: 3rem;
  }

  .column {
    flex-grow: 1;

    .spaceBetween {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .picker {
      margin-top: 1rem;
    }

    .tabs {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .tab {
        padding: 0.25rem 2rem;
        border-radius: 1rem;
      }
      .tab-active {
        background-color: var(--accent-color-yellow);
        color: var(--dark-color);
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .column {
    max-width: 50%;
  }
}
// @media screen and (min-width: 721px) {
//   .container {
//     height: calc(100vh - var(--header-height));
//   }
// }
</style>
