<script setup lang="ts">
import { ref } from 'vue'
import type { IExpense, IIncome } from '@/widgets/finances/model/types'
import { AppModal } from '@/shared/ui';
import FinanceShow from './FinanceShow.vue'

defineProps<{ finance: IExpense | IIncome }>()

const open = ref(false)
const handleClose = () => (open.value = false)
</script>

<template>
  <div :class="$style.card" @click="open = true">
    <app-modal :is-open="open" :on-close="handleClose" max-width="320px" :title="'category' in finance ? 'Расход' : 'Доход'">
      <finance-show :finance="finance" :open="open" @close="handleClose" />
    </app-modal>
    <div v-if="'category' in finance" :class="$style.cardCategory" :title="finance.category.title" v-html="finance.category.svg"></div>
    <div :class="$style.cardBody">
      <span>{{ finance.title }}</span>
    </div>
    <div :class="$style.cardPrice">
      <span>{{ finance.amount }}₽</span>
    </div>
  </div>
</template>

<style module lang="scss">
.card {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  min-width: 0;
  cursor: pointer;
}

.cardCategory {
  flex: 0 0 50px;
}

.cardBody {
  display: flex;
  flex-direction: column;

  .date {
    font-size: var(--font-small);
  }
}

.cardPrice {
  margin-left: auto;
}
</style>
