<script setup lang="ts">
import { ref, watch } from 'vue'
import { useDateFormat } from '@vueuse/core'
import { AppButton, AppInput } from '@/shared/ui'
import { CategorySelector, type ICategory } from '@/features/categories'
import type { IExpense, IIncome } from '@/widgets/finances/model/types'
import { removeFinance, updateFinance } from '../model'

const props = defineProps<{ finance: IExpense | IIncome, open: boolean }>()
const emit = defineEmits(['close'])

const chosenCategory = ref<ICategory | null>('category' in props.finance ? props.finance.category : null)
const title = ref<string>(props.finance.title)
const amount = ref<string>(props.finance.amount)
const dateFormatter = ref('YYYY-MM-DD HH:mm')
const date = useDateFormat(new Date(props.finance.date), dateFormatter)

function isIExpense(arg: any): arg is IExpense {
  return arg && arg.category
}

function resetStore() {
  chosenCategory.value = 'category' in props.finance ? props.finance.category : null
  title.value = props.finance.title
  amount.value = props.finance.amount
  dateFormatter.value = 'YYYY-MM-DD HH:mm'
}

function handleUpdateFinance() {
  type IFinanceObj = typeof props.finance extends IExpense ? Partial<IExpense> : Partial<IIncome>
  const financeObj: IFinanceObj = {
    id: props.finance.id,
    title: title.value,
    amount: amount.value,
    date: new Date(date.value)
  }

  if (isIExpense(props.finance)) {
    //@ts-ignore
    financeObj['categoryId'] = chosenCategory.value.id
    //@ts-ignore
    financeObj['category'] = chosenCategory.value
  }
  updateFinance(financeObj, !isIExpense(props.finance))
  emit('close')
}

watch(() => props.open, () => resetStore())
</script>

<template>
  <div :class="$style.container">
    <div :class="$style.content">
      <div v-if="isIExpense(finance)">
        <span>Категория {{ chosenCategory?.title }}</span>
        <category-selector :chosen="chosenCategory" @set-chosen="(icon) => (chosenCategory = icon)" />
      </div>
      <app-input label="Название" theme="outlined" :value="title" @input="(value: string) => (title = value)" />
      <app-input
        label="Сумма"
        theme="outlined"
        type="number"
        :value="amount"
        @input="(value: string) => (amount = value)"
        @focus="$event.target.select()"
      />
      <app-input
        label="Дата и время"
        theme="outlined"
        type="datetime-local"
        :value="date"
        @change="(value: string) => (dateFormatter = value)"
      />
    </div>
    <div :class="$style.buttons">
      <app-button
        :class="[$style.removeButton, $style.button]"
        theme="outlined"
        @click="removeFinance(finance.id, !isIExpense(finance))"
        >Удалить</app-button
      >
      <app-button :class="$style.button" theme="outlined" @click="handleUpdateFinance">Сохранить</app-button>
    </div>
  </div>
</template>

<style module lang="scss">
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;

  .button {
    flex: 1;
  }

  .removeButton {
    background-color: var(--error-color);
  }
}
</style>
