<script setup lang="ts">
import { useDark, useToggle } from '@vueuse/core'
import MoonIcon from '../../assets/icons/moon.svg?component'
import SunIcon from '../../assets/icons/sun.svg?component'
import AppButton from '../AppButton/AppButton.vue'

defineProps<{ icon?: boolean }>()

const isDark = useDark({
  selector: 'body',
  valueLight: 'light'
})

const toggleTheme = useToggle(isDark)
const onClick = () => {
  toggleTheme()
}
</script>

<template>
  <app-button :method="onClick" v-if="icon">
    <Transition mode="out-in">
      <moon-icon v-if="isDark" :class="$style.icon" />
      <sun-icon v-else :class="$style.icon" />
    </Transition>
  </app-button>
  <span v-else :class="$style.text" @click="onClick">Сменить тему</span>
</template>

<style module lang="scss">
.v-enter-active,
.v-leave-active {
  transition: all 0.25s ease-out;
}

.v-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.v-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.icon {
  width: 1rem;
  height: 1rem;
}

.text {
  font-weight: var(--font-regular);
}
</style>
