<script setup lang="ts">
import SpinnerIcon from '../../assets/icons/spinner.svg?component'
defineProps<{fullPage?: boolean}>()
</script>

<template>
  <spinner-icon :class="{[$style.spinner]: true, [$style.fullPage]: fullPage}" />
</template>

<style module lang="scss">
.fullPage {
  top: 50%;
  left: 50%;
}

.spinner {
  pointer-events: none;
  animation: rotate 2s linear infinite;
  z-index: 1;
  position: absolute;
  //   margin: -25px 0 0 -25px;
  width: 100%;
  height: 100%;

  & .path {
    stroke: hsl(210, 70%, 75%);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
</style>
