<script setup lang="ts">
import { useAuthStore } from '@/features/auth/model'
import { AppRouting } from '@/pages/routing'
import { LOCAL_STORAGE_TOKEN_KEY } from '@/shared/constants'
import { useDark } from '@vueuse/core'
import { onMounted } from 'vue'

useDark({
  selector: 'body',
  valueLight: 'light'
})

const store = useAuthStore()

onMounted(() => {
  localStorage.getItem(LOCAL_STORAGE_TOKEN_KEY) && store.verify()
})
</script>

<template>
  <app-routing />
</template>

<style lang="scss">
@import './index.scss';
</style>
