<script setup lang="ts">
import { type Props } from './types'
import AppSpinner from '../AppSpinner/AppSpinner.vue'

withDefaults(defineProps<Props>(), {
  theme: 'clear',
  size: 'medium'
})
// defineEmits(['click'])
</script>

<template>
  <button
    :class="[$style.button, $style[theme], $style[size], { [$style.disabled]: disabled, [$style.loading]: loading }]"
    :disabled="disabled"
    @click="method"
  >
    <app-spinner v-if="loading" />
    <component :is="leftIcon" :class="[$style.icon, loading && $style.invisible]" />
    <span :class="loading && $style.invisible"><slot /></span>
    <component :is="rightIcon" :class="[$style.icon, loading && $style.invisible]" />
  </button>
</template>

<style module lang="scss">
.loading {
  pointer-events: none;
}
.small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;

  .icon {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.medium {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  .icon {
    width: 1rem;
    height: 1rem;
  }
}

.large {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.button {
  font-weight: var(--font-semibold);
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &.disabled {
    cursor: default;
  }
}

.invisible {
  opacity: 0;
}

.outlined {
  background: var(--accent-color-yellow);
  color: var(--dark-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  &.disabled {
    background-color: var(--secondary-color);
  }

  &:hover:not(.disabled) {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  }
}

.bordered {
  border: 2px solid var(--accent-color-yellow);
  transition: all ease .2s;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: var(--accent-color-yellow);
    color: var(--dark-color);
  }
}
</style>
