<script setup lang="ts">
import { ref } from 'vue'
import { type ICategory } from '@/features/categories'

const isActive = ref<boolean>(false)

defineProps<{ categories: ICategory[]; chosenCategories: number[] }>()
const emit = defineEmits<{
  (e: 'choose', category: ICategory): ICategory
}>()

const onChoose = (category: ICategory) => {
  emit('choose', category)
}
</script>

<template>
  <div :class="{ [$style.dropdown]: true, [$style.active]: isActive }" @click="isActive = !isActive">
    <span>Выбрать категорию</span>
    <div :class="$style.menu">
      <button
        :class="{ [$style.item]: true, [$style.chosen]: chosenCategories.includes(category.id) }"
        v-for="category in categories"
        :key="category.id"
        @click.stop="onChoose(category)"
      >
        {{ category.title }}
      </button>
    </div>
  </div>
</template>

<style module lang="scss">
.dropdown {
  position: relative;
  line-height: 2.25rem;
  padding: 0px 1rem;
  display: inline-block;
  border: 1px solid var(--accent-color-green);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

  &.active {
    .menu {
      display: flex;
    }
  }
}

.menu {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  z-index: var(--z-expenses-filter);
  background-color: var(--main-color);
  color: var(--main-reverse-color);
  border: 1px solid var(--accent-color-green);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.1s;

  .chosen {
    background-color: var(--accent-color-green);
  }

  .item {
    padding: 0px 1rem;
    width: 100%;

    &:first-child {
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;
    }

    &:last-child {
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }

    @media screen and (min-width: 480px) {
      &:hover:not(.chosen) {
        background-color: rgba($color: #51d289, $alpha: 0.9);
      }
    }
  }
}
</style>
