<script setup lang="ts">
import { AppTitle } from '@/shared/ui'
import { ProfileMenu } from '@/widgets'
import DollarIcon from '@/shared/assets/icons/dollar.svg?component'
import { useWindowSize } from '@vueuse/core'

const { width } = useWindowSize()

defineProps<{
  pathName: string
}>()
</script>

<template>
  <header :class="$style.header">
    <div :class="$style.title">
      <dollar-icon :class="$style.icon" />
      <div :class="$style.content">
        <div :class="$style.mobile">
          <span :class="$style.path">{{ pathName }}</span>
          <profile-menu v-if="width <= 720" />
        </div>
        <app-title />
      </div>
    </div>
    <profile-menu v-if="width > 720" />
  </header>
</template>

<style module lang="scss">
.header {
  height: var(--header-height);
  position: relative;
  padding: var(--header-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 0px 1rem rgba($color: #000000, $alpha: 0.2);
}
.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.path {
  text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
  color: var(--accent-color-yellow);
  font-weight: var(--font-semibold);
}

.icon {
  color: var(--secondary-color);
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 720px) {
  .header {
    display: block;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
  }

  .content {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .icon {
    display: none;
  }
}
</style>
