<script setup lang="ts">
import { ref, computed } from 'vue'

const props = defineProps<{ fromDate: Date | null; toDate: Date | null }>()
defineEmits<{
  (
    e: 'setDate',
    { fromDate, toDate }: { fromDate: Date | null; toDate: Date | null }
  ): { fromDate: Date; toDate: Date | null }
}>()

const open = ref<boolean>(false)

const today = ref<Date>(new Date())
const displayDate = ref<Date>(new Date())

// const fromDate = ref<Date | null>()
const wouldBeSelected = ref<Date | null>()
// const toDate = ref<Date | null>()

const days = computed(() => monthArray(displayDate.value))

function monthArray(date: Date) {
  const daysInMonth: number = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate()
  const firstDay: number = new Date(date.getFullYear(), date.getMonth(), 1).getDay()
  const lastDay: number = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDay()

  const days: Array<number> = []
  for (let i = 1; i <= daysInMonth; i++) {
    days.push(i)
  }

  for (let i = 1; i < firstDay; i++) {
    days.unshift(0)
  }

  for (let i = 1; i < lastDay; i++) {
    days.push(0)
  }

  return days
}

function selectDate(day: number) {
  if (props.fromDate && props.toDate) {
    return { fromDate: new Date(displayDate.value.getFullYear(), displayDate.value.getMonth(), day), toDate: null }
  }
  if (!props.fromDate) {
    return { fromDate: new Date(displayDate.value.getFullYear(), displayDate.value.getMonth(), day), toDate: null }
  } else {
    wouldBeSelected.value = null
    open.value = false
    const tempToDate = new Date(displayDate.value.getFullYear(), displayDate.value.getMonth(), day)
    if (props.fromDate.toISOString() > tempToDate.toISOString()) {
      return {
        fromDate: tempToDate,
        toDate: props.fromDate
      }
    }
    return {
      fromDate: props.fromDate,
      toDate: tempToDate
    }
  }
}

function isDaySelected(day: number) {
  const displayDateISO = new Date(displayDate.value.getFullYear(), displayDate.value.getMonth(), day).toISOString()

  return (
    displayDateISO === (props.fromDate && props.fromDate.toISOString()) ||
    displayDateISO === (props.toDate && props.toDate.toISOString()) ||
    displayDateISO === wouldBeSelected.value?.toISOString()
  )
}

function isDayInRange(day: number) {
  const displayDateISO = new Date(displayDate.value.getFullYear(), displayDate.value.getMonth(), day).toISOString()
  const fromDateISO = props.fromDate && props.fromDate.toISOString()
  const wouldBeSelectedISO = wouldBeSelected.value?.toISOString()
  const toDateISO = props.toDate && props.toDate.toISOString()

  return (
    (fromDateISO &&
      wouldBeSelectedISO &&
      ((wouldBeSelectedISO > fromDateISO && displayDateISO > fromDateISO && displayDateISO < wouldBeSelectedISO) ||
        (wouldBeSelectedISO < fromDateISO && displayDateISO < fromDateISO && displayDateISO > wouldBeSelectedISO))) ||
    (fromDateISO && toDateISO && displayDateISO > fromDateISO && displayDateISO < toDateISO)
  )
}

function calendarTitle() {
  let title: string = ''
  if (props.fromDate) {
    title += 'От ' + props.fromDate.toLocaleString([], { year: 'numeric', month: 'long', day: '2-digit' })
    if (props.toDate) {
      title += ' - ' + 'До ' + props.toDate.toLocaleString([], { year: 'numeric', month: 'long', day: '2-digit' })
      return title
    }
    title +=
      ' - ' + 'До ' + wouldBeSelected.value?.toLocaleString([], { year: 'numeric', month: 'long', day: '2-digit' })
    return title
  }
  return 'Выбрать дату'
}

function resetDates() {
  open.value = !open.value
  return { fromDate: null, toDate: null }
}
</script>

<template>
  <div :class="$style.container">
    <div :class="$style.calendarTitle" @click="open = !open">
      <p :class="$style.title">{{ calendarTitle() }}</p>
      <button :class="$style.titleButton" @click="$emit('setDate', resetDates())">Сбросить</button>
    </div>
    <div :class="$style.calendar" v-show="open">
      <div :class="$style.header">
        <button
          :class="$style['change-month-button']"
          @click="displayDate = new Date(displayDate.setMonth(displayDate.getMonth() - 1))"
        >
          {{ '<' }}
        </button>
        <div :class="$style.date" @click="displayDate = new Date(today)">
          <span :class="$style['month-name']">{{ displayDate.toLocaleString([], { month: 'long' }) }}</span>
          {{ displayDate.getFullYear() }}
        </div>
        <button
          :class="$style['change-month-button']"
          @click="displayDate = new Date(displayDate.setMonth(displayDate.getMonth() + 1))"
        >
          {{ '>' }}
        </button>
      </div>

      <div :class="$style['daynames-row']">
        <div :class="$style.dayname" title="Понедельник">Пн</div>
        <div :class="$style.dayname" title="Вторник">Вт</div>
        <div :class="$style.dayname" title="Среда">Ср</div>
        <div :class="$style.dayname" title="Четверг">Чт</div>
        <div :class="$style.dayname" title="Пятница">Пт</div>
        <div :class="$style.dayname" title="Суббота">Сб</div>
        <div :class="$style.dayname" title="Воскресенье">Вс</div>
      </div>

      <div :class="$style['days-grid']">
        <div
          :class="{
            [$style.day]: !!day,
            [$style.today]: today.setHours(0, 0, 0, 0) === displayDate.setHours(0, 0, 0, 0) && today.getDate() === day,
            [$style.selected]: isDaySelected(day),
            [$style['in-range']]: isDayInRange(day)
          }"
          v-for="(day, index) in days"
          :key="index"
          @mouseover="
            wouldBeSelected = toDate ? null : new Date(displayDate.getFullYear(), displayDate.getMonth(), day)
          "
          @click="$emit('setDate', selectDate(day))"
        >
          {{ day || '' }}
        </div>
      </div>
    </div>
  </div>
</template>

<style module lang="scss">
.container {
  position: relative;
}

.calendarTitle {
  position: relative;
  padding: 0.5rem 1rem;
  border: 1px solid var(--accent-color-green);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.calendar {
  position: absolute;
  padding: 10px;
  width: 100%;
  max-width: 424px;
  background-color: var(--main-color);
  border: 1px solid rgba($color: #51d289, $alpha: 0.5);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: var(--z-dropdown);
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;

  .date {
    cursor: pointer;
  }

  .month-name {
    font-weight: var(--font-semibold);
    text-transform: capitalize;
  }

  .change-month-button {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-weight: var(--font-semibold);
  }
}

.daynames-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 2px;

  .dayname {
    padding: 5px 0px;
    text-align: center;
    font-size: var(--font-small);
  }
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 2px;
  .offset {
  }

  .today {
    color: #ec775c;
  }

  .day {
    padding: 10px 0px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      border: 1px solid var(--accent-color-green);
    }

    &.selected {
      background-color: var(--accent-color-green);
    }

    &.in-range {
      background-color: rgba($color: #51d289, $alpha: 0.5);
      border-radius: 0px;
    }
  }
}
</style>
