<script setup lang="ts">
import { AppRoutesPaths } from '@/pages'
import type { Props } from './types'

withDefaults(defineProps<Props>(), {
  size: 'medium'
})
</script>

<template>
  <div :class="$style.header">
    <h1 :class="[$style.title, $style[size]]" @click="$router.push(AppRoutesPaths.finances)">
      <span :class="$style.accentText">Budget</span> Tracker
    </h1>
  </div>
</template>

<style module lang="scss">
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    text-align: center;
    font-size: 3rem;
    font-weight: var(--font-bold);
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
  }

  .small {
    font-size: 1rem;
  }

  .medium {
    font-size: 2rem;
  }

  .large {
    font-size: 3rem;
  }
}

.accentText {
  color: var(--accent-color-green);
}
</style>
