<script setup lang="ts">
import { type SelectorProps } from '../model/types'
import { useCategoriesStore } from '..'

const store = useCategoriesStore()

withDefaults(defineProps<SelectorProps>(), {
  chosen: null,
})
defineEmits(['setChosen'])
</script>

<template>
  <ul :class="$style.icons">
    <li
      :class="[$style.icon, { [$style.active]: chosen?.id === icon.id }]"
      v-for="(icon, index) in store.categories"
      :title="icon.title"
      :key="index"
      @click="$emit('setChosen', icon)"
    >
      <div v-html="icon.svg"></div>
    </li>
  </ul>
</template>

<style module lang="scss">
.icons {
  padding: 0.5rem 0.25rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
}

.icon {
  min-width: fit-content;
  cursor: pointer;
}

.active {
  border-radius: 100%;
  outline: 3px solid var(--accent-color-yellow);
}
</style>
