<script setup lang="ts">
import MenuIcon from '@/shared/assets/icons/menu.svg?component'
import { ThemeSwitcher, AppLink, AppModal } from '@/shared/ui'
import { AppAuthentication, useAuthStore } from '@/features/auth'
import { AppRoutesPaths } from '@/pages'
import { LOCAL_STORAGE_USER_KEY } from '@/shared/constants'

const store = useAuthStore()
const handleLogout = () => {
  store.signOut()
}

const isTestUser = () => {
  const localStorageUser = localStorage.getItem(LOCAL_STORAGE_USER_KEY)
  const user = localStorageUser && JSON.parse(localStorageUser)
  return user.isTest
}
</script>

<template>
  <div :class="$style.container">
    <app-modal
      :is-open="store.isCreateAccountModalOpen"
      :on-close="() => (store.isCreateAccountModalOpen = false)"
      title="Создание аккаунта"
    >
      <app-authentication :from-trial="true" />
    </app-modal>
    <div :class="$style['profile-menu']">
      <menu-icon :class="$style['profile-icon']" />
      <span :class="$style.profile">Профиль</span>
    </div>
    <div :class="$style.dropdown">
      <theme-switcher :class="$style['dropdown-item']" />
      <app-link
        :class="$style['dropdown-item']"
        theme="clear"
        router-link
        :to="AppRoutesPaths.settings"
        text="Настройки"
      />
      <span v-if="isTestUser()" :class="$style['dropdown-item']" @click="() => (store.isCreateAccountModalOpen = true)">
        Создать аккаунт
      </span>
      <span :class="$style['dropdown-item']" @click="handleLogout">Выйти</span>
    </div>
  </div>
</template>

<style module lang="scss">
.profile-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  .profile-icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease-in-out;
  }

  .profile {
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      width: 0px;
      height: 2px;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: var(--accent-color-green);
      transition: 0.3s;
    }
  }

  @keyframes iconScale {
    25% {
      transform: scale(1.125);
    }
    50% {
      transform: scale(1.25);
    }
    75% {
      transform: scale(1.125);
    }
    100% {
      transform: scale(1);
    }
  }
}

.container {
  &:hover .profile::after {
    width: 100%;
  }

  &:not(:hover) .profile::after {
    right: 0;
    left: auto;
  }

  &:hover .profile-icon {
    transform: rotate(-90deg);
    animation: iconScale 0.4s ease-in-out;
  }
}

.container:hover > .dropdown {
  display: flex;
  // opacity: 1;
}

.dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  box-shadow: 2px 3px 1rem rgba($color: #000000, $alpha: 0.2);
  z-index: var(--z-dropdown);
  // opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.dropdown-item {
  padding: 0.375rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color-green);
  }

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

@media screen and (max-width: 720px) {
  .profile-icon {
    width: 1rem !important;
    height: 1rem !important;
  }
}
</style>
