<script setup lang="ts">
import type { Props } from './types'
import AppText from '../AppText/AppText.vue'
import { onMounted, onBeforeUnmount } from 'vue'

const props = defineProps<Props>()

function handleKeydown(e: KeyboardEvent) {
  if (props.isOpen && e.key === 'Escape') {
    props.onClose()
  }
}

onMounted(() => {
  document.addEventListener('keydown', handleKeydown)
})

onBeforeUnmount(() => {
  document.removeEventListener('keydown', handleKeydown)
})
</script>

<template>
  <Teleport to="body" @keydown.esc="onClose">
    <Transition :duration="{ enter: 200, leave: 150 }" name="modal" appear>
      <div v-show="isOpen" :class="$style.overlay" @mousedown="onClose">
        <div
          class="container"
          :class="$style.container"
          :style="{ width: maxWidth }"
          @mousedown.stop
        >
          <app-text v-show="title" :class="$style.title" :title="title" size="large" />
          <slot />
        </div>
      </div>
    </Transition>
  </Teleport>
</template>

<style module lang="scss">
.overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-modal);
}

.container {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--main-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  // max-width: %;
}

.title {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--accent-color-green);
  text-align: center;
}
</style>

<style scoped lang="scss">
.modal-enter-active .container,
.modal-leave-active .container {
  transition: transform 0.2s ease;
}

.modal-enter-from .container,
.modal-leave-to .container {
  transform: scale(0.2);
}
</style>
